/* theme variables */
$primary: #c6c5c3;
$accent: #e6e6e6;
$warn: #f4511e;
$alt-primary: #c2bcbc;
$alt-accent: #d6d5d5;

$primary-dark: #191d21;
$accent-dark: #343a40;
$warn-dark: #f4511e;
$alt-primary-dark: #121518;
$alt-accent-dark: #262a2e;

.crowd-container {
  margin: 0 !important;
  width: 100%;
  height: 100%;
}

.crowd-palette {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: inherit !important;
  background-color: $accent !important;
  border-top: 0.1px solid black;
  border-right: 0.1px solid black;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  user-select: none;
}

.bootstrap-dark .crowd-palette {
  background-color: $accent-dark !important;
}

.crowd-container-middle {
  position: absolute;
  top: 0px;
  left: 200px;
  right: 315px;
  height: inherit !important;
  display: flex;
  flex-direction: column;
  transition: all 1s;
}

.crowd-container-side-toggle {
  position: absolute;
  top: 0px;
  right: 300px;
  width: 15px;
  height: inherit !important;
  // display: flex;
  grid-template-rows: auto 15px;
  transition: right 1s;
  border-top: 0.1px solid black;
  border-left: 0.1px solid black;
}

.crowd-container-side-toggle:hover {
  background-color: $alt-accent-dark !important;
}

.crowd-container-side-toggle i {
  position: absolute;
  top: 50%;
  left: calc(50% - 5px);
}

.crowd-container-side {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 300px;
  height: inherit !important;
  // display: flex;
  grid-template-rows: auto 300px;
  transition: all 1s;
}

.crowd-tools {
  // display: table-row;
  // flex: 0 0 auto;
  background-color: $alt-accent !important;
  border-top: 0.1px solid black;
  border-bottom: 0.1px solid black;
  width: 100%;
  user-select: none;
}

.bootstrap-dark .crowd-tools {
  background-color: $alt-accent-dark !important;
}

.crowd-tools .row {
  margin: 5px 0px 0px 0px !important;
  color: black;
}

.bootstrap-dark .crowd-tools .row {
  color: white !important;
}

.crowd-tools .row .form-group {
  margin-left: 20px;
  margin-bottom: 5px !important;
}

.crowd-tools .row .form-group label {
  margin-bottom: 0px !important;
}

.crowd-tools > .row > .form-group > .btn {
  height: 30px !important;
  padding: 2px 2px !important;
  margin-top: 5px !important;
}

.crowd-tools > .row > .form-group > .btn.iconify {
  padding: 2px 8px !important;
}

.crowd-tools > .row > .form-group > .dropdown > .btn {
  height: 30px !important;
  padding: 2px 8px !important;
  margin-top: 5px !important;
}

.crowd-tools .dropdown-item .btn {
  padding: 0px;
  padding-right: 5px;
}

.crowd-tools .dropdown-divider {
  margin: 0.1rem 0 !important;
}

.crowd-tools > .row > .form-group > .btn-group .btn {
  height: 30px !important;
  padding: 2px 8px !important;
  margin-top: 5px !important;
}

.crowd-tools > .row > label {
  margin-top: 5px;
  padding: 2px 0px 0px 15px;
  height: 30px;
}

.crowd-tools-actual-file-container {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
  padding: 11px;
}

.crowd-tools-actual-file-label {
  padding: 4px;
  color: black;
  background: rgba(255, 255, 255, 0.8);
}

.crowd-workspace {
  // display: table-row;
  // flex: 1 1 auto;
  background-color: rgba(246, 246, 246, 1);
  width: 100%;
  height: 100%;
  user-select: none;
  overflow: scroll;
  // z-index: 1; //fix tools dropdown menu bug
}

.crowd-workspace:active {
  cursor: grabbing;
}

/* custom scrollbar for workspace */
.crowd-workspace::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.crowd-workspace::-webkit-scrollbar-track {
  background: #eeeeee;
}

.crowd-workspace::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}

.crowd-workspace::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

.crowd-workspace-scrollable {
  position: relative;
  width: 4000px;
  height: 4000px;
  background-color: rgba(197, 197, 197, 1);
  cursor: grab;
}

.crowd-workspace-paper {
  position: absolute;
  top: 1500px;
  left: 1500px;
  width: 1000px;
  height: 1000px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  background: white;
  // transform: translate(-50%, -50%); //this bug dropdown menu and jointjs vectorizer in firefox
  // z-index: 1; //fix tools dropdown menu bug
}

.crowd-workspace-tools-icon {
  opacity: 0.7;
}

.crowd-workspace-tools-icon:hover {
  opacity: 1;
}

.crowd-inspector {
  display: table-row;
  background-color: $accent !important;
  border-top: 0.1px solid black;
  border-left: 0.1px solid black;
  color: black;
  position: absolute;
  top: 0px;
  bottom: 200px;
  width: 300px;
  user-select: none;
  display: flex;
  flex-direction: column;
}

.bootstrap-dark .crowd-inspector {
  background-color: $accent-dark !important;
  color: white !important;
}

.crowd-inspector .crowd-inspector-empty {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  flex: 1 1 auto;
}

.crowd-inspector .crowd-inspector-title {
  text-align: center;
  background: rgba(0, 0, 0, 0.3);
  padding: 8px;
  margin: 0px !important;
  flex: 0 0 auto;
}

.crowd-inspector .crowd-inspector-content {
  padding: 10px;
  overflow-y: auto;
  flex: 1 1 auto;
}

/* custom scrollbar for inspector */
.crowd-inspector-content::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.crowd-inspector-content::-webkit-scrollbar-track {
  background: #eeeeee;
}

.crowd-inspector-content::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 10px;
}

.crowd-inspector-content::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

.bootstrap-dark .crowd-inspector-content::-webkit-scrollbar-track {
  background: #212529;
}

.bootstrap-dark .crowd-inspector-content::-webkit-scrollbar-thumb {
  background: #1b1b1b;
  border-radius: 10px;
}

.bootstrap-dark .crowd-inspector-content::-webkit-scrollbar-thumb:hover {
  background: #181818;
}

.crowd-inspector .crowd-inspector-content .btn {
  height: 37px !important;
  padding: 6px 4px !important;
}

.crowd-inspector .crowd-inspector-content .row {
  margin: 5px 0px 0px 0px !important;
}

.crowd-inspector .crowd-inspector-content .row .form-group {
  margin-bottom: 6px;
  width: 100%;
}

.crowd-inspector .crowd-inspector-content .row .col {
  padding: 0px;
}

.crowd-inspector .crowd-inspector-content .row .col-3 {
  padding: 0px;
  padding-left: 12px;
}

.crowd-inspector .crowd-inspector-content .form-group > .row {
  border-left: 5px rgba(0, 0, 0, 0.2) solid;
  padding: 5px 10px 0px 5px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 0px 5px 5px 0px;
}

.crowd-inspector .crowd-inspector-content .alert {
  word-break: break-word;
}

.crowd-inspector .crowd-inspector-content .alert ul {
  margin-bottom: 0px !important;
}

.crowd-map {
  display: table-row;
  background-color: white;
  border-top: 0.1px solid black;
  border-left: 0.1px solid black;
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: 0px;
  cursor: grab;
  user-select: none;
}

.crowd-map-scrollable {
  position: relative;
  width: 300px;
  height: 200px;
  background-color: rgba(197, 197, 197, 1);
  // cursor: grab;
  overflow: hidden;
}

.crowd-map-paper {
  position: absolute;
  top: 35px;
  left: 35px;
  width: 130px;
  height: 130px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  background: white;
  // transform: translate(-50%, -50%); //this bug dropdown menu and jointjs vectorizer in firefox
  // z-index: 1; //fix tools dropdown menu bug
}

.crowd-map-paper svg {
  background: white;
}

.crowd-map-camera {
  position: absolute;
  border: 1px black solid;
  background: rgba(0, 0, 0, 0);
  top: 75px;
  left: 75px;
  width: 50px;
  height: 50px;
}

.crowd-flypaper {
  position: fixed;
  z-index: 100;
  opacity: 0.7;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

.crowd-element-text {
  font-family: sans-serif;
  font-size: 12px;
  // text-shadow: 1px 0px 0px black, -1px 0px 0px black;
  text-transform: uppercase;
}

.crowd-element-text.s {
  font-size: 10px;
}

.crowd-element-text.xs {
  font-size: 9px;
}

.crowd-element-text.l {
  font-size: 20px;
  margin-top: -3px;
}

.crowd-element-text.key-attribute {
  text-decoration: underline;
}

.crowd-element-text.weak-key-attribute {
  text-decoration: underline dashed;
}

.crowd-element-text.inheritance {
  text-transform: none;
}

.crowd-link-text.inherit {
  font-size: 40px;
}

.uml-class-name-text,
.uml-class-attrs-text,
.uml-class-methods-text {
  font-family: sans-serif;
  font-size: 12px;
}

.crowd-entity-color,
.crowd-weak-entity-color,
.crowd-relationship-color,
.crowd-weak-relationship-color,
.crowd-attribute-color,
.crowd-multivalued-attribute-color,
.crowd-key-attribute-color,
.crowd-weak-key-attribute-color,
.crowd-inheritance-color,
.crowd-derived-attribute-color,
.crowd-bold-color,
.crowd-class-color,
.crowd-abstract-color,
.crowd-interface-color {
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0px 5px 2px 5px;
  border-radius: 10px;
  white-space: nowrap;
}

.crowd-entity-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-weak-entity-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-entity-stroke-color {
  color: rgba(0, 0, 173, 1);
}

.crowd-relationship-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-weak-relationship-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-relationship-stroke-color {
  color: rgba(0, 0, 0, 1);
}

.crowd-attribute-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-multivalued-attribute-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-key-attribute-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-weak-key-attribute-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-derived-attribute-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-attribute-stroke-color {
  color: rgba(0, 0, 0, 1);
}

.crowd-key-attribute-stroke-color {
  color: rgba(0, 0, 173, 1);
}

.crowd-inheritance-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-inheritance-stroke-color {
  color: rgba(160, 0, 160, 1);
}

.crowd-bold-color {
  color: black;
}

.crowd-class-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-class-alt-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-abstract-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-abstract-alt-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-interface-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-interface-alt-color {
  color: rgba(200, 200, 200, 1);
}

.crowd-class-stroke-color {
  color: rgba(0, 0, 0, 1);
}

.crowd-inheritance-stroke-color {
  color: rgba(160, 0, 160, 1);
}

.crowd-orm-entity-fill-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-orm-entity-stroke-color {
  color: rgba(0, 0, 173, 1);
}

.crowd-orm-constraint-fill-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-orm-constraint-stroke-color {
  color: rgba(160, 0, 160, 1);
}

.crowd-orm-role-fill-color {
  color: rgba(255, 255, 255, 1);
}

.crowd-orm-role-stroke-color {
  color: rgba(0, 0, 0, 1);
}

.crowd-unsat-color {
  color: rgba(255, 0, 0, 1);
}

.crowd-inferred-color {
  color: rgba(42, 116, 32, 1);
}

.crowd-syntax-error-color {
  color: rgb(255, 90, 0, 1);
}

.tooltip {
  transition: opacity 0.5s !important;
}

.tooltip .tooltip-inner {
  background-color: rgba(0, 0, 0, 0.9) !important;
}

.modal-header h1 {
  margin-bottom: 0px !important;
}
.modal-body p {
  margin-bottom: 0px !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}
