.crowd-title {
  font-family: "CubicCoreMono";
  font-size: 250% !important;
  padding: 0px;
  height: 50px;
  margin-top: -15px;
}

.crowd-container {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.crowd-new-title img {
  width: 50px;
}

::ng-deep .bootstrap-dark .light-logo {
  display: none;
}

::ng-deep .dark-logo {
  display: none;
}

::ng-deep .bootstrap-dark .dark-logo {
  display: unset;
}

.navbar-collapse .nav-item-collapsed {
  display: none;
}

.navbar-collapse.show .nav-item-collapsed,
.navbar-collapse.collapsing .nav-item-collapsed {
  display: inline;
}

.navbar-collapse .nav-item-uncollapsed {
  display: inline;
}

.navbar-collapse.show .nav-item-uncollapsed,
.navbar-collapse.collapsing .nav-item-uncollapsed {
  display: none;
}
